In [1]:
import numpy as  np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('~/Desktop/facultate/seeds_dataset.txt', delimiter='\t')

In [3]:
data.head()

      p1     p2      p3     p4     p5     p6     p7  label
0  15.26  14.84  0.8710  5.763  3.312  2.221  5.220      1
1  14.88  14.57  0.8811  5.554  3.333  1.018  4.956      1
2  14.29  14.09  0.9050  5.291  3.337  2.699  4.825      1
3  13.84  13.94  0.8955  5.324  3.379  2.259  4.805      1
4  16.14  14.99  0.9034  5.658  3.562  1.355  5.175      1

In [4]:
data = np.array(data)

In [5]:
m, n = data.shape
np.random.shuffle(data)

data_test = data[0:40].T
Y_test = data_test[-1]
X_test = data_test[:-1]

data_train = data[40:m].T
Y_train = data_train[-1]
X_train = data_train[:-1]

In [6]:
X_train[:, 0].shape

(7,)

In [7]:
Y_train

array([2., 1., 2., 1., 2., 2., 3., 2., 2., 1., 2., 1., 3., 2., 1., 2., 3.,
       1., 2., 2., 1., 3., 2., 1., 1., 2., 3., 3., 3., 2., 2., 1., 2., 1.,
       2., 3., 1., 1., 3., 3., 1., 3., 1., 2., 1., 3., 1., 1., 1., 2., 2.,
       3., 3., 2., 1., 1., 2., 2., 1., 1., 3., 2., 3., 3., 3., 3., 1., 2.,
       1., 1., 3., 1., 3., 2., 2., 2., 3., 2., 1., 1., 2., 2., 3., 1., 2.,
       1., 1., 2., 3., 2., 3., 2., 3., 2., 2., 2., 2., 1., 3., 3., 1., 3.,
       2., 1., 3., 1., 2., 1., 3., 3., 3., 1., 1., 3., 3., 2., 2., 1., 3.,
       2., 2., 2., 3., 3., 1., 3., 3., 3., 3., 2., 1., 3., 3., 2., 2., 3.,
       2., 3., 2., 3., 3., 1., 2., 2., 1., 3., 2., 2., 3., 3., 1., 1., 1.,
       1., 2., 1., 3., 1., 2., 1., 2., 3., 2., 2., 1., 1., 3., 1., 1., 1.])

In [8]:
def init_params():
    W1 = np.random.randn(5, 7)
    b1 = np.zeros((5, 1))
    W2 = np.random.rand(3, 5)
    b2 = np.zeros((3, 1))
    return W1, b1, W2, b2

####

In [9]:
def ReLU(Z):
    return np.maximum(Z, 0)

def softmax(Z):
    A = np.exp(Z) / sum(np.exp(Z))
    return A

def forward_prop(W1, b1, W2, b2, X):
    Z1 = W1.dot(X) + b1
    A1 = ReLU(Z1)
    Z2 = W2.dot(A1) + b2
    A2 = softmax(Z2)
    
    return Z1, A1, Z2, A2

def ReLU_deriv(Z):
    return Z > 0

def softmax_cross_entropy_loss(A2, Y):
    m = Y.shape[1]
    logprobs = -np.log(A2[Y, range(m)])
    loss = np.sum(logprobs) / m
    return loss